body {
  margin: 0;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary-100: #08161b;
  --color-gray-100: #809193;

  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;

  --font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}

.calendar-header {
  font: var(--font-weight-bold) var(--spacing-2) / var(--spacing-2)
    var(--font-family-primary);
}

.calendar-body {
  font: var(--font-weight-regular) var(--spacing-2) / var(--spacing-2)
    var(--font-family-primary);
}
